<%= form_with(model: @task, local: true, html: { class: 'task-form' }) do |form| %>
  <% if @task.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h4>
      <ul>
        <% @task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title, class: 'form-label' %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description, class: 'form-label' %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :status, class: 'form-label' %>
    <%= form.select :status, ['Pending', 'In Progress', 'Completed'], {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :due_date, class: 'form-label' %>
    <%= form.date_select :due_date, class: 'form-control' %>
  </div>

  <h3>Comments</h3>
  <%= form.fields_for :comments do |comment_form| %>
    <div class="form-group">
      <div class="form-group">
        <%= comment_form.label :content, "Comment" %>
        <%= comment_form.text_area :content, class: "form-control" %>
      </div>

      <div class="form-group">
        <span>User : </span>
        <%= comment_form.hidden_field :user_id, value: current_user.id %>
        <%= comment_form.label :user_id, value: current_user.name %>  <!-- Display current user's name -->
      </div>

      <div class="form-group">
        <%= comment_form.check_box :_destroy %>
        <%= comment_form.label :_destroy, "Remove comment" %>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :user_ids, "Assign Users" %>
    <%= form.collection_check_boxes :user_ids, User.all, :id, :name do |b| %>
      <div class="checkbox">
        <label>
          <%= b.check_box %>
          <%= b.label %>
        </label>
      </div>
    <% end %>
  </div>

  <div class="form-actions">
    <%= form.submit 'Save Task', class: 'btn btn-primary' %>
    <%= link_to 'Back', tasks_path, class: 'btn btn-secondary' %>
  </div>
<% end %>
