<h1><%= @task.title %></h1>
<p><strong>Description:</strong> <%= @task.description %></p>
<p><strong>Status:</strong> <%= @task.status %></p>
<p><strong>Due Date:</strong> <%= @task.due_date.strftime("%B %d, %Y %I:%M %p") %></p>

<%= link_to 'Edit Task', edit_task_path(@task) %> |
<%= button_to 'Delete', task_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %> |
<%= link_to 'Back to All Tasks', tasks_path %>
