<h1>Task Details</h1>

<div class="task-detail">
  <div class="task-header">
    <h2><%= @task.title %></h2>
    <div class="task-meta">
      <span class="task-status"><%= @task.status %></span>
      <span class="task-due-date">Due: <%= @task.due_date.strftime('%B %d, %Y') %></span>
    </div>
  </div>

<% if @task %>
  <p><%= @task.description %></p>

  <h2>Comments</h2>
  <% if @task.comments.any? %>
    <ul>
      <% @task.comments.each do |comment| %>
        <li><%= comment.content %> by <%= comment.user.name %></li>
      <% end %>
    </ul>
  <% else %>
    <p>No comments yet.</p>
  <% end %>
<% else %>
  <p>Task not found.</p>
<% end %>

  <div class="task-actions">
    <%= link_to 'Edit Task', edit_task_path(@task), class: 'btn btn-warning' %>
    <%= link_to 'Back to Tasks', tasks_path, class: 'btn btn-secondary' %>
    <%= link_to 'Delete Task', @task, method: :delete, data: { confirm: 'Are you sure you want to delete this task?' }, class: 'btn btn-danger' %>
  </div>
</div>
